/*** Global variables definition ***/
// Palettes: http://www.colourlovers.com/palette/2186081/worn_out, http://www.colourlovers.com/palette/1025830/Little:_Blue_Night

$colorBlueNight: #3B7577;		// rgb(59, 117, 119)
$colorDarkGrey: #CAC8C9;		// rgb(202, 200, 201)

// Color Palette worn out
$colorWhitesmoke: #f5f5f5;	// rgb(245, 245, 245)
$colorShadedTrees: #2F2933; 	// rgb(47,41,51)
$colorBlueGreen: #028A96;		// rgb(2, 138, 150)
$colorLightBlueGreen: #35D9B4;		// rgb(53,217,180)
$colorLightGreen: #BDF271;		// rgb(189,242,113)

$fontFamily: 'Open Sans', sans-serif;

// Font-size variables:
$titleFontSize: 30px;
$subtitleFontSize: 18px;
$contentFontSize: 14px;