@import "variables";

nav#primaryNav {
	//margin-top: 25px;
	width: 100%;
	background: linear-gradient(to top, $colorShadedTrees, lighten($colorShadedTrees, 5%));

	ul {
		text-align: center;
		border-bottom: 1px solid $colorDarkGrey;
		position: relative;
		margin: 0;

		li {
			display: inline-block;
			margin: 0 10px;
			
			&:hover {
				//background-color: #FCFCFC;

				a {
					//color: $colorShadedTrees;
					border-bottom: 2px solid  $colorLightGreen;
					background-color: lighten($colorShadedTrees, 8%);
				}
			}

			a {
				display: inline-block;
				line-height: 40px;
				padding: 0 10px;
				//color: #999999;
				color: white;
		    	text-decoration: none;
		    	//text-shadow: 0 1px 0 white;
		    	transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
		    	border-bottom: 2px solid  $colorShadedTrees;
			}


			
		}
	}
}


nav.secondaryNav {
	position: absolute;
	height: 100%;
	background: linear-gradient(to right, $colorShadedTrees, lighten($colorShadedTrees, 2%));
	box-shadow: 3px 0 3px $colorDarkGrey;

	color: white;
	padding: 10px;
}